@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root {
  --modal-duration: 0.8s;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}
body
{
    font-family: 'DM Sans', sans-serif;
}
div {
    width: 1200px;
    margin: 0 auto;
}

/* skip to content button */
.skip-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.skip-btn button {
    width: 18%;
    margin: 15px auto;
    padding: 9px 0;
    border: none;
    border-radius: 5px;
    background-color: #DB8876;
    color: black;
    font-size: 18px;
    font-weight: 500;
  }
  .header-content-sec-2 {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
}
.logo {
    width: 18%;
    display: flex;
    justify-content: start;
    margin-left: 30px;
  }
.logo img{
    width: 80%;
  }
  nav {
    width: 53%;
    display: flex;
justify-content: center;
  }
  .our-phographer {
    width: 28%;
    display: flex;
justify-content: end;
  }
  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
  }
  li {
    padding: 4px 7px;
    border: 1px solid #901C1C;
    margin: 0 3px;
    border-radius: 30px;
}

.header-content-sec-2 a {
  font-size: 13px;
  color: #901C1C;
  font-weight: 600;
}

.header-sec-1 a {
    font-size: 18px;
}
.our-phographer h3 {
    font-size: 36px;
    color: #901C1C;
    font-weight: 500;
}
.photographer__row-1 img {
    width: 160px;
    border-radius: 100%;
    object-fit: cover;
    height: 160px;
    object-position: 102% 51%;
    margin-bottom: 30px;
}
.photographer__row-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 80px;
}
.elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
    align-items: center;
}
.photographer__row-1--element-2.elements {
    align-items: center;
  }
  .photographer__row-1--element-3.elements {
    align-items: center;
  }
  .photographers a {
      margin-top: 40px;
    width: 100%;
    font-size: 13px;
    color: #901C1C !important;
    font-weight: 600;
  }
  .elements-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }
  
  .elements-a {
    color: #BF5138;
    font-weight: 500;
    font-size: 36px !important;
    margin-top: 30px;
    padding-top: 20px;
  }

  .elements-content .country {
    font-size: 15px;
    font-weight: 400;
    margin: 10px auto;
    color: #901C1C;
}
  .elements-content .description {
    font-size: 13px;
    font-weight: 400;
    margin:auto;
    color: #000000;
}
  .elements-content .price {
      margin-top:20px;
    font-size: 12px;
    font-weight: 400;
    margin:7px auto;
    color: #757575;
}
.row-2 {
  margin-bottom: 50px;
}
.photographer-category ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap:nowrap;
}

.responsive-menu-mobile {
  display: none;
}

/* ------------------------------------- photographer style -----------------------------*/

body.phographers .logo {
  margin-top: 60px;
}

.phographers .phographers .logo.photographer-logo {
  margin-top: 70px;
}

.phographers .photographer-page a {
  color: #901C1C;
  font-weight: 600;
  font-size: 18px;
  padding: 8px;
  
}

.phographers .head-photographer-page-content {
  background-color: #FAFAFA !important;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}
.phographers .photographer-category.photographer-page {
  justify-content: flex-start !important;
}

.phographers .photgrapher-image {
    width: 20%;
}

.phographers .photgrapher-image img {
    object-fit: cover;
    height: 216px;
    border-radius: 100%;
    width: 216px;
}

.phographers .photographer-page-elements-content {
  width: 70%;
}

.phographers .head-photographer-page .elements-a{
  font-size: 64px !important;
  margin-top: 0px !important;
  
}
.phographers .head-photographer-page .country {
  font-size: 24px;
  color: #901C1C;
  font-weight: 500;
}
.phographers .head-photographer-page .description {
  font-size: 18px;
  font-weight: 400;
  color: #525252;
  margin: 15px auto;
}
.phographers .contactme-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.phographers .contactme-div button {
  border: none;
  margin-left: 137px;
  height: 59px;
  margin-top: 10px;
  padding: 17px;
  background-color: #901C1C;
  border-radius: 11px;
}

.phographers .contactme-div button a {
  font-size: 20px;
  padding: 8px;
  color: white;
}
.phographers select {
  border: 1px solid #901C1C;
  background-color: #901C1C;
  padding: 10px;
  color: white;
  font-size: 18px;
  margin-left: 30px;
  border-radius: 11px;
  font-weight: 500;
}

.phographers label {
  font-size: 20px;
  font-weight: 600;
}

.phographers .single-image {
  width: 27%;
}
.phographers .single-image h3{
  color:#901C1C;
}
.phographers .single-image img {
  width:100%;
  height: 330px;
  object-fit: cover;
  border-radius: 7px;
  overflow: hidden;
}
.phographers .photographer-body__image {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.phographers .single-image.second-image {
  margin: 0 100px;
  
}

.phographers .namerating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.phographers .namerating h3 {
  width: 60%;
}
.phographers .rating {
  width: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phographers .namerating h3 {
  width: 70%;
  font-size: 22px;
  font-weight: 500;
}

.phographers .rating p {
  font-size: 22px;
  width: 52%;
}

.phographers .rating span {
  color: rgb(125, 126, 128);
  border: none;
  font-size: 22px;
  width: 10%;
}

.like {
  color: #901C1C !important;
  transition: ease-in-out 0.2s;
}

.phographers .floating-cta {
    display: flex;
    justify-content: flex-end;
    width: 23%;
    background-color: #DB8876;
    padding: 20px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    position: fixed;
    bottom: 41px;
    right: 0;
    width: 300px;
  }
.phographers .total-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 32px;
}
/* ------------------------------------------------------------------------------- */ 

/* modal class for javascript */

.modal {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100% ;
  height: 100% ;
  background-color: rgb(255 255 255 / 100%);
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease-out;
}
.modal.open {
  opacity: 1;
  pointer-events: all;
}
.modal p {
  color: #901C1C;
  font-weight: 600;
  font-size: 21px;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
}
 .full-img {
   position: absolute;
   height: 70%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(0.5);
   transition: all 0.25s ease-in-out;
 }
 .full-img.open {
  transform: translate(-50%, -50%) scale(1);
 }

span.close {
  font-size: 38px;
  position: fixed;
  top: 0;
  right: 36px;
  z-index: 100;
  display: none;
  cursor: pointer;
}

/* end modal class for javascript */
.image-container-hover {
  overflow: hidden;
}
.image-container-hover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.image-container-hover img:hover {
  transform: scale(1.2);
}

.navigation-button {
  display: none;
}

i.fas.fa-times {
  color: #901C1C;
}
i.fas.fa-arrow-right {
  display: flex;
  justify-content: flex-end;
  font-size: 50px;
  top: 50%;
  position: fixed;
  right: 3%;
}
i.fas.fa-arrow-left {
  display: flex;
  justify-content: flex-end;
  font-size: 50px;
  top: 50%;
  position:fixed;
  left: 3%;
}

/* ------------------------- modal-form style ----------------------------- */
form.form-example {
  background-color: #DB8876;
  padding: 30px 20px;
  position: absolute;
  height: auto;
  width: 40%;
  top: 50%;
  left: 50%;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 1.5s ease-in-out;
}
form.form-example.open {
  
  transform: translate(-50%, -50%) scale(1);
}
.single-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 7px 0px;
}

.modal-form input {
  padding: 13px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
}

.modal-form label {
  color: #312E2E;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  padding: 4px 0;
}
textarea#message {
  padding: 10px;
  height: 90px;
  min-width: 100%;
  font-size: 18px;
}
input[type="submit"] {
  background-color: #901C1C;
  color: white;
  padding: 12px 50px;
  margin-top: 14px;
}
.form-example p {
  font-size: 40px;
  font-weight: 500;
  width: 60%;
}

.form-example .close-icon {
  font-size: 35px;
  display: flex;
  justify-content:end;
  margin-top: 10px;
  width: 30%;
  cursor: pointer;
}

.form-example .head {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.modal-form {
  background-color: #ffffff;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100% ;
  height: 100% ;
}
p.error-msg {
  font-size: 19px;
  margin: 6px 0;
  color: #a51b1b;
}

div#reception-msg h2 {
  font-size: 40px;
  text-align: center;
  color: #DB8876;
  margin-top: 100px;
}
div#reception-msg span {
  color: black;
  font-size: 16px;
  text-transform: capitalize;
}

input#like-count {
  font-size: 20px;
  border: none;
  width: 54px;
  font-weight: 500;
  text-align: center;
}
.rating input:focus-visible {
  outline: none;
  cursor: context-menu;
}
.display-none {
  display: none;
}



















/* responsiveness section */

@media only screen and (max-width: 950px) {
  .our-phographer {
    width: 50%;
}
.phographers .single-image.second-image {
  margin: 0px 30px !important;
}
.phographers .photographer-body__image {
  flex-wrap: nowrap !important; 
}
.logo {
  width: 45%;
  margin-left: 0px;
}
.logo img {
  width: 100%; 
}
.header-content-sec-2 {
  flex-wrap: wrap;
  margin: 30px 20px;
  justify-content: space-between;
}
nav {
  width: 100%;
}
.skip-btn button {
  width: 37%;
}
ul {
  justify-content:center;
  margin: 0 20px;
}
.our-phographer h3 {  
  text-align: center;
  font-size: 16px;
}

.elements-a {
  font-size: 30px !important;
}
.photographers {
  padding: 0 30px;
}
.responsive-menu-descktop {
  display: none;
}
.responsive-menu-mobile {
  display: flex;
  flex-wrap: wrap;
}
.header-sec-1 {
  display: none;
}
.photographer__row-1 {
  flex-direction: column;
}
.elements {
width: 100%;
margin: 30px auto;
}
.photographer__row-1 {
margin-top: 0px;
}
li {
  margin: 5px 3px;
}
nav li a {
  color: #901C1C;
  font-size: 12px;
  font-weight: 500;
}
.phographers .photographer-body__image {
  flex-direction: column;
}
.single-image {
  width: 93%;
  overflow: hidden;
}
.phographers .single-image.second-image {
  margin: 0px 0px;
}
.phographers .single-image img {
  width: 100%;
  height: 350px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.phographers .namerating h3 {
  width: 76%;
  margin-bottom: 20px;
}
.phographers .rating {
  width: 10%;
}
.phographers .floating-cta {
  display: flex;
  justify-content: flex-end;
  width: 23%;
  background-color: #DB8876;
  padding: 20px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
  position: fixed;
  bottom: 41px;
  right: 0;
  width: 118px;
  flex-direction: column;
}
.phographers ul {
    justify-content: flex-start;
    margin: 0 0px;
    flex-wrap: wrap;
}
.phographers .single-image {
  width: 90%;
}
.phographers .head-photographer-page .elements-a {
  font-size: 35px !important;
}
.phographers .contactme-div button {
  display: none;
}
.phographers .photographer-page a {
  font-size: 13px;
  padding: 4px;
}
.phographers .photographer-page-elements-content {
  width: 55%;
}
.phographers .head-photographer-page .description {
  font-size: 16px;
}
.phographers .photgrapher-image {
  width: 30%;
}
.phographers .photgrapher-image img {
  height: 200px;
}
.photographer-body__content.options {
  display: flex;
  justify-content: center;
}
.phographers .header-content-sec-2 {
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}

.full-img {
  height: auto;
  width: 100%;
  object-fit: scale-down;
}
.modal p {
  text-align: center;
}
span.close {
  top: 28px;
}
form.form-example {
  background-color: #DB8876;
  padding: 30px 20px;
  width: 70%;
}
.form-example p {
  font-size: 30px;
}
}
@media only screen and (max-width: 700px) {

  .phographers .photgrapher-image img {
    height: 150px;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateX(100px);
    transform: translateY(-500px);
  }
  to {
    opacity: 1;
  }
}
